@import url("https://fonts.googleapis.com/css?family=Signika:300,400,700");
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark

///////// Customized by @carlosjunod
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  line-height: 1; }

body {
  font-size: 1.6rem;
  line-height: 1.45rem;
  font-family: "Signika", arial, sans-serif; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #EEF1F3;
  color: #061535;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #EEF1F3;
  color: #061535;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #424244;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1 {
  font-size: 8.06736rem; }

h2 {
  font-size: 5.7624rem; }

h3 {
  font-size: 4.116rem; }

h4 {
  font-size: 2.94rem; }

h5 {
  font-size: 2.1rem; }

h6 {
  font-size: 1.5rem; }

header form, .elements-list, .message, footer p {
  margin-right: auto;
  margin-left: auto; }

header nav ul:after, header nav:after, header form:after, .elements-list:after, .message:after {
  content: "";
  clear: both;
  display: block; }

header:after, .elements-list li h2, .message li h2 {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.71) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.71) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.71) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b5000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  bottom: 0px;
  width: 100%; }

input[type='text'], input[type='submit'],
button,
input[type='email'],
input[type='password'],
textarea {
  border: none;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem; }

input[type='submit'],
button {
  font-size: 1.3rem;
  line-height: 1rem; }

.darkinput {
  background-color: #424244;
  color: #EEF1F3; }

.message {
  background-color: #EEF1F3;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #424244; }
  .message strong {
    color: #1E8BC4;
    font-size: 1.9rem; }

.elements-list li, .message li {
  width: 23.6875%;
  margin-right: 1.75%;
  float: left; }
  .elements-list li:nth-of-type(4n), .message li:nth-of-type(4n) {
    margin-right: 0px; }

header {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1485848225137-7a97afbde637");
  background-size: cover;
  margin-bottom: 2rem; }
  header:after {
    content: "";
    min-height: 5rem; }
  header nav {
    background-color: rgba(66, 66, 68, 0.7);
    width: 100%;
    padding-left: 10%;
    padding-right: 10%; }
    header nav img {
      float: left;
      width: auto;
      height: 6rem; }
    header nav ul {
      float: right; }
      header nav ul li {
        display: inline-block; }
        header nav ul li a {
          font-weight: lighter;
          color: #EEF1F3;
          padding: 0px 3rem;
          font-size: 1.3rem;
          display: block;
          line-height: 6rem; }
  header form {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 10rem 0px; }
    header form input {
      float: left; }
      header form input[type='text'], header form input[type='submit'], header form
      button {
        width: 80%; }
      header form input[type='submit'] {
        width: 20%; }

.elements-list, .message {
  margin-right: auto;
  margin-left: auto;
  width: 80%; }
  .elements-list li, .message li {
    margin-bottom: 2rem;
    height: 400px;
    background-size: cover, cover;
    position: relative; }
    .elements-list li h2, .message li h2 {
      font-size: 2rem;
      display: block;
      color: #EEF1F3;
      padding: 1.5rem;
      font-weight: normal;
      text-shadow: 0px 0px 5px rgba(66, 66, 68, 0.7); }
      .elements-list li h2 span, .message li h2 span {
        font-size: 1rem;
        line-height: 2rem;
        font-style: italic;
        font-weight: lighter;
        display: block;
        position: relative; }
        .elements-list li h2 span:before, .message li h2 span:before {
          content: "";
          top: 0px;
          position: absolute;
          border-top: 1px solid #EEF1F3;
          width: 100%; }

footer {
  background-color: #061535;
  text-align: center; }
  footer p {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-bottom: 0px;
    color: #EEF1F3;
    padding: 2rem; }
