%message {
    background-color: $background-color;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size:1.5rem;
    color: $dark-color;

    strong {
        color: $secondary-color;
        font-size: 1.9rem;
    }
}
