input[type='text'],
input[type='email'],
input[type='password'],
textarea{
    border: none;
    @include padding-buttons;
}

input[type='submit'],
button{
    @extend input[type='text'];
    font-size: 1.3rem;
    line-height: 1rem;
}

.darkinput{
    background-color: $dark-color;
    color: $background-color;
}


input[type='radio']{
    float: none;
}
