@mixin padding-buttons ($top: 2rem, $left: 2rem, $bottom: 2rem, $right: 2rem) {
    padding-top: $top;
    padding-left: $left;
    padding-bottom: $bottom;
    padding-right: $right;
}

@mixin wrapper ($width: 80%){
    margin-right: auto;
    margin-left: auto;
    width: $width;
}

@mixin circle-img($w:2rem, $h:2rem, $border-rad:$w/2){
    background-size: cover;
    background-position: center center;
    width: $w;
    height: $h;
    -webkit-border-radius: $border-rad;
    -moz-border-radius: $border-rad;
    border-radius: $border-rad;
}


//////////// mediaqueries ////////////////
@mixin mq($size) {
    @if $size == small{
        @media #{$small-only}{ @content; }
    }
    @else if $size == medium{
        @media #{$medium-only}{ @content; }
    }
    @else if $size == large{
        @media #{$large-only}{ @content; }
    }
    @else if $size == x-large{
        @media #{$x-large}{ @content; }
    }

    //and more
    @else if $size == smallAndBigger{
        @media #{$small-more}{ @content; }
    }
    @else if $size == mediumAndBigger{
        @media #{$medium-more}{ @content; }
    }
    @else if $size == largeAndBigger{
        @media #{$large-more}{ @content; }
    }
}
