@mixin padding-buttons ($top: 2rem, $left: 2rem, $bottom: 2rem, $right: 2rem) {
    padding-top: $top;
    padding-left: $left;
    padding-bottom: $bottom;
    padding-right: $right;
}

@mixin wrapper ($width: 80%){
    @extend %wrap-aligment;
    margin-right: auto;
    margin-left: auto;
    width: $width;
}
