%wrap-aligment{
    margin-right: auto;
    margin-left: auto;
}
%clearfix{
    content: "";
    clear: both;
    display: block;
}

%bg-gradient{
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 1;
    left: 0;

    @include mq(small) {
        visibility: 0;
        display: none;
    }

}

%bg-gradient-bottom{
    //http://colorzilla.com
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.71) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.71) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b5000000',GradientType=0 ); /* IE6-9 */
    @extend %bg-gradient;
    bottom: 0;

    @include mq(small) {
        background: none;
    }


}


%bg-gradient-top{
    //http://colorzilla.com
    background: -moz-linear-gradient(top, rgba(0,0,0,0.71) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.71) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.71) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    @extend %bg-gradient;
    top: 0px;
}
