// header{
//     position: relative;
//     background-image: url('https://images.unsplash.com/photo-1485848225137-7a97afbde637');
//     background-size: cover;
//     margin-bottom: 2rem;
//     display: flex;
//     flex-direction: column;
//
//     &:after{
//         content: "";
//         @extend %bg-gradient-bottom;
//         min-height: 5rem;
//     }
//
//     nav{
//         background-color: rgba($dark-color, 0.7);
//         width: 100%;
//         padding-left: 10%;
//         padding-right: 10%;
//         display: flex;
//         align-items: flex-start;
//         justify-content: space-between;
//         // background: grey;
//
//
//         a {
//             img{
//                 width: auto;
//                 height: $nav-height;
//
//
//                 @include mq(mediumAndBigger){
//                     float: left;
//                 }
//             }
//
//         }
//
//         ul{
//             // display: block;
//             background: red;
//             @include mq(mediumAndBigger){
//                 // float: right;
//                 display: flex;
//                 justify-content: space-between;
//
//             }
//
//             li{
//
//
//
//                 a{
//                     font-weight: lighter;
//                     color: $background-color;
//                     display: block;
//                     line-height: $nav-height;
//
//
//                     @include mq(mediumAndBigger){
//                         padding: 0px 1rem;
//                         font-size: 1.2rem;
//                     }
//
//
//                     @include mq(large){
//                         padding: 0px 3rem;
//                         font-size: 1.3rem;
//                     }
//
//                 }
//             }
//
//             &:after{
//                 @extend %clearfix;
//             }
//         }
//
//         &:after{
//             @extend %clearfix;
//         }
//     }
//
//     form{
//         &:after{
//             @extend %clearfix;
//         }
//         @include wrapper(50%);
//         padding: 10rem 0px;
//
//         .radiobtn{
//             background-color: rgba($dark-color, 0.5);
//             padding: 0.5rem;
//             color: $background-color;
//         }
//
//         input{
//
//             float: left;
//
//             &[type='text']{
//                 width: $content;
//             }
//
//             &[type='submit']{
//                 width: 20%;
//                 background-color: $highligt-color;
//                 color: $dark-color;
//                 font-weight: bold;
//
//                 &:hover{
//                     background-color: $secondary-color;
//                     color: $background-color;
//                 }
//             }
//         }
//     }
//
// }
//
// .message{
//     @extend .elements-list;
//     @extend %message;
// }
//
//
// .elements-list {
//     @include wrapper;
//
//     li {
//         margin-bottom: 2rem;
//         height: 400px;
//         background-size: cover, cover;
//         position: relative;
//
//         h2{
//             @extend %bg-gradient-bottom;
//             font-size: 2rem;
//             display: block;
//             color: $background-color;
//             padding: 1.5rem;
//             font-weight: normal;
//             text-shadow: 0px 0px 5px rgba($dark-color, 0.7);
//
//             span{
//                 font-size: 1rem;
//                 line-height: 2rem;
//                 font-style: italic;
//                 font-weight: lighter;
//                 display: block;
//                 position: relative;
//
//                 &:before{
//                     content: "";
//                     top: 0px;
//                     position: absolute;
//                     border-top: 1px solid $background-color;
//                     width: 100%;
//                 }
//             }
//
//         }
//
//     }
//
//     &:after{
//         @extend %clearfix;
//     }
// }
//
// .actor{
//
//     padding: 1rem;
//     text-align: right;
//     @extend %bg-gradient-top;
//     top:0px;
//
//     h3{
//         color: $background-color;
//         position: relative;
//         display: inline-block;
//         font-size: 1.5rem;
//         top: -1rem;
//     }
//
//     .actor-pic{
//         display: inline-block;
//         border: 2px solid $background-color;
//         box-shadow: 1px 1px 10px $dark-color;
//         @include circle-img(3rem, 3rem);
//         background-color: $dark-color;
//     }
// }
//
//
//
//
// footer{
//     background-color: $primary-color;
//     text-align: center;
//     position: absolute;
//     bottom: -70px;
//     width: 100%;
//
//     p{
//         @include wrapper;
//         margin-bottom: 0px;
//         color:$background-color;
//         padding: 2rem;
//     }
// }
