header{
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1485848225137-7a97afbde637');
    background-size: cover;
    margin-bottom: 2rem;

    &:after{
        content: "";
        @extend %bg-gradient;
        min-height: 5rem;
    }

    nav{
        background-color: rgba($dark-color, 0.7);
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;

        img{
            float: left;
            width: auto;
            height: $nav-height;
        }

        ul{
            float: right;

            li{
            display: inline-block;

                a{
                    font-weight: lighter;
                    color: $background-color;
                    padding: 0px 3rem;
                    font-size: 1.3rem;
                    display: block;
                    line-height: $nav-height;
                }
            }

            &:after{
                @extend %clearfix;
            }
        }

        &:after{
            @extend %clearfix;
        }
    }

    form{
        &:after{
            @extend %clearfix;
        }
        @include wrapper(50%);
        padding: 10rem 0px;
        input{

            float: left;

            &[type='text']{
                width: $content;
            }

            &[type='submit']{
                width: 20%;
            }
        }
    }

}

.message{
    @extend .elements-list;
    @extend %message;
}


.elements-list {
    @include wrapper;

    li {
        margin-bottom: 2rem;
        height: 400px;
        background-size: cover;
        position: relative;

        h2{
            @extend %bg-gradient;
            font-size: 2rem;
            display: block;
            color: $background-color;
            padding: 1.5rem;
            font-weight: normal;
            text-shadow: 0px 0px 5px rgba($dark-color, 0.7);

            span{
                font-size: 1rem;
                line-height: 2rem;
                font-style: italic;
                font-weight: lighter;
                display: block;
                position: relative;

                &:before{
                    content: "";
                    top: 0px;
                    position: absolute;
                    border-top: 1px solid $background-color;
                    width: 100%;
                }
            }

        }

    }

    &:after{
        @extend %clearfix;
    }
}


footer{
    background-color: $primary-color;
    text-align: center;

    p{
        @include wrapper;
        margin-bottom: 0px;
        color:$background-color;
        padding: 2rem;
    }
}
