header{
    // background-image: url('https://images.unsplash.com/photo-1485848225137-7a97afbde637');
    background-color: green;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    align-items: baseline;
    margin-bottom: 3rem;

    &:after{
        @extend %bg-gradient-bottom;
    }

    nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a{
            order:1;
            img{
                width: 100%;
                padding-left: 2rem;
                padding-right: 2rem;

            }
        }

        ul{
            // flex-box
            order: 0;
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10px;

            height: 40%;
            background-color: rgba($dark-color, 0.7);

            li a{
                color: $background-color;
                text-decoration: none;
                padding: 1rem 0px;
                display: block;
            }
        }

        .burger-icon{
            flex-basis: 100%;
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            font-size: 2rem;
            height: 40px;

            .icon{
                flex-basis: 40px;
                position: relative;
                border: 4px solid $background-color;
                margin-right: 10px;
                border-radius: 3px;

                span{
                    position: absolute;
                    width: 71.7%;
                    display: block;
                    border: 2px solid $background-color;
                    left: 4px;
                    border-radius: 3px;
                    transition: .25s ease-in-out;

                    &:nth-of-type(1){
                        top: 6px;
                    }

                    &:nth-of-type(2){
                        top: 14px;
                    }

                    &:nth-of-type(3){
                        top: 22px;
                    }

                }


                &.active{

                    span {
                        &:nth-of-type(1){
                        // transform-origin: center right;
                        transform: rotate(-45deg);
                        left:5px;
                        top:15px;
                        }

                        &:nth-of-type(2){
                        opacity: 0;
                        left: 20px;
                        }

                        &:nth-of-type(3){

                        // transform-origin: center right;
                        transform: rotate(45deg);
                        top: 15px;
                        left:5px;
                        }
                    }
                }
            }




            .menu{
                flex-basis: 60px;
                font-size: 1.5rem;
                color: $background-color;
                line-height: 40px;
                padding-right: 10px;
            }

            div{
                // padding: 10px;
                // background-color: red;
                // border:1px solid green;
            }
        }

    }

    form{

        @include wrapper(80%);

        z-index: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;

        .radiobtn{
            background-color: rgba($dark-color, 0.5);
            padding: 0.5rem;
            color: $background-color;
            width: 100%;

            .fielset-wrap{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                label{
                    background-color: purple;
                    border:1px solid white;
                }
            }

        }

        p{
            &:first-of-type(){
                flex-grow:2;
                flex-basis: 400px;
                background-color: red;

                // flex: 2 0 320px;
            }
            &:last-of-type(){
                flex-grow:1;
                flex-basis: 200px;
                background-color: blue;

                // flex: 1 0 150px;
            }
            input{
                padding: 0px;
                width: 100%;
                line-height: 1rem;

                &[type='text']{
                }

                &[type='submit']{
                    line-height: 1rem;
                }
            }

        }
    }
    // form

}
// header
.message{
    @extend .elements-list;
    @extend %message;
}



.elements-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @extend %grid;
    @include wrapper;

    li{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: green;


        @include mq(medium){
            background-color: purple;
            flex-direction: columns;
        }

        @include mq(large){
            background-color: orange;
        }

        &:before{
            @extend %bg-gradient-bottom;
        }


        .img-cont{
            display: block;
            flex-basis: 50%;

            @include mq(mediumAndBigger){
                flex-basis: 100%;
            }

            img{
                width: 100%;
            }
        }

        h2{
            flex-basis: 50%;
            font-size: 1.3rem;
            color: $background-color;

            @include mq(mediumAndBigger){
                flex-basis: 100%;
            }
        }

    }
}
